@import "fa/font-awesome";
@import "~purecss";
@import "fonts";
@import "mixins";
@import "variables";
@import "resets";

// Base Classes
.osl {
  font-family: "OpenSansLight"
}

.osb {
  font-family: "OpenSansBold"
}

.transition {
  transition: all 0.5s ease-in-out;
}

.radius {
  border-radius: $radius;
}

// Flash Notice
#flash-message {
  position: absolute;
  height: 30px;
  width: 100%;
  text-align: center;
  margin: 0;
  background: $shade12;
  color: $shade12;
  &.error {
    background: $orange;
  }
  &.success {
    background: $blue;
  }
  p {
    margin: 0;
  }
}

// Flash Notice
#alert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include flex_layout();
  @include flex_items();
  > * {
    justify-content: center;
    margin: 120px auto;
  }
  &:after {
    position: absolute;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    background: rgba(255,255,255,0.6);
  }
  #alert-window {

  }
  #alert-message {
    width: 450px;
    padding: 25px 35px;
    background: $blue;
    color: $shade12;
    text-align: center;
    border-radius: $radius;
    p {
      margin: 0;
    }
    .btns {
      margin-top: 15px;
      button {
        + button {
          margin-left: 20px;
        }
      }
    }
  }
}

// App
#app {
  font-family: $font-family;
  color: $shade4;
  #content {
    margin-top: $header-height;
    margin-bottom: $footer-height;
    > * {
      height: 100%;
    }
  }
}

.btn {
  background: $shade1;
  color: $shade6;
  padding: 3px 15px;
  i {
    padding-bottom: 3px;
  }
  + .btn {
    margin-left: 5px;
  }
  :hover {
    color: $shade9;
  }
  &.orange {
    background: $orange;
  }
  &.red {
    background: $red;
  }
  &.blue {
    background: $blue;
  }
  &.dark-blue {
    background: $blue;
  }
}

nav a {
  @extend .transition;
}

form {
  @extend .pure-form;
  @extend .pure-form-aligned;
  display: inline-block;
  // @extend .pure-form-stacked;

  legend {
    p {
      font-size: 1.3em;
      @extend .osb;
    }
    .btn {
      padding: 3px 5px;
      font-size: 1em;
      border-radius: $radius;
    }
    border: none;
  }
  .required {
    text-align: right;
    font-size: 0.857em;
    color: $shade2;
  }
  input[type=text], input[type=password], textarea {
    width: 300px;
  }
  .error {
    color: $red;
    text-align: right;
    text-align: right;
    margin: 5px;
    font-size: 0.857em;
  }
  .group {
    @extend .pure-control-group;
  }
  .btns {
    @extend .pure-controls;
    text-align: right;
  }
}

// List

// ul {
//   opacity: 0;
//   overflow: hidden;
// }

input[type=checkbox] {
  form label & {
    @extend .pure-checkbox;
    input {
      display: inline-block;
    }
  }
}

// 404 Page
#not_found {
  @include flex_layout();
  position: absolute;
  width: 100%;
  height: 100%;
  background: $shade2;
  color: $shade11;
  h1 {
    @include flex_item();
  }
}